<ul class="comments">
    {% for comment in post.comments %}
        <li class="comment">
            <div class="comment-content">

                <div class="comment-author"><a
                        href="{{ url_for('main.user',username=comment.author.username) }}">{{ comment.author.username }}</a>
                </div>
                <div class="comment-data">{{ comment.timestamp }}</div>
                <div class="comment-body">{{ comment.body }}</div>
            </div>
        </li>
    {% endfor %}
</ul>